body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.filter-block h2 {
  font-size: 17px;
  line-height: 30px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
}

.clearfix {
  content:"";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 57px;

}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header .header-background-top {
  background-color: #293449;
}

.header-top {
  min-height: 42px;
}

.header-top div, .header-top form {
  float: left;
}

.header-top .logo a {
  font-size: 24px;;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 9px 55px;
}

.header-top input {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  width: 260px;
  position: relative;
}

.header-top label::before {
  content:"";
  position: absolute;
  width: 17px;
  height: 17px;
  background: red;

}

input[type="submit"] {
  display: none;
}

.header-top a {
  float: left;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  position: relative;
}

.header-top a:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 16px;
  background: url("../img/spritesheet.png") no-repeat;
  top: 12px;
  left: 27px;
  opacity: 0.3;
}

.header-top a.bookmarks::before {
  background-position: -4px -31px;
}

.header-top a.cart::before {
  background-position: -5px -5px;
  left: 17px;
}

.header-top .bookmarks {
  margin-right: 27px;
  padding-left: 55px;
}

.header-top .cart {
  margin-right: 10px;
  padding-left: 50px;
}

.header-top .order {
  float: right;
  background: #63a63e;
  padding-left: 20px;

  width: 130px;
}

.main-header .header-background-bottom, .content .services-background {
  background-color: #f1f5f7;
}

.header-middle {
  font-size: 0px;
  padding-top: 50px;
  padding-bottom: 38px;
}

.header-middle div {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 300px;
  margin-right: 20px;

}

.header-middle div:last-child {
  margin-right: 0;
}

.promo p {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #e9292a;
  width: 200px;
  margin-left: 53px;
}



.contacts .phone {
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  width: 265px;
  padding: 10px 0;
  padding-left: 70px;
  box-sizing: border-box;
  position: relative;
  color: #e9292a;

}

.contacts .phone::before {
  content:"";
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -4px -335px;
  top: 10px;
  left: 12px;
}

.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding-left: 10px;
}

.user-block {
  text-align: right;
  font-size: 0;
}

.user-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 11px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.login {
  position: relative;
  padding-left: 45px;
  padding-right: 24px;
  margin-right: 10px;

}

.login::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat;
  position: absolute;
  left: 10px;
  background-position: -5px -308px
}

.registration {
  padding-left: 20px;
  padding-right: 25px;
  margin-right: 0px;
}

.main-navigation {
  padding-top: 1px;
  font-size: 0;
  padding-bottom: 62px;

}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;

}

.main-navigation a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  padding: 18px 0px;
  padding-left: 50px;
}

.catalog {
  margin-bottom: 33px;
}

.catalog-item  {
  position: relative;
  float: left;
  margin-bottom: 20px;
  width: 300px;
  margin-right: 20px;
  min-height: 123px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 80px;
  background: url("../img/spritecatalog.png") no-repeat;
  top: 20px;
  left: 192px;
}

.materials::before {
  background-position: 13px -85px;
}

.tools::before {
  background-position: -5px -342px;

}

.machine::before {
  background-position: -10px -262px;
}

.sales::before {
  background-position: -5px -175px;
}

.delivery::before {
  background-position: -10px -2px;
}

.materials::after {
  content:"";
  width: 60px;
  height: 60px;
  background: url("../img/new flag.png") no-repeat;
  position: absolute;
  top: 0px;
  left: 240px;
}

.catalog-item h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 23px;
  padding-top: 19px;
  margin-bottom: 11px;
}

.catalog-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 27px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border-radius: 2px;
  margin-left: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item:nth-child(n+3) {
  margin-right: 0;
}

.catalog .materials {
  background-color: #f6b22d;
}

.catalog .tools {
  background-color: #4aafde;
}

.catalog .machine {
  background-color: #cc79d1;
}

.catalog .sales {
  background-color: #85d179;
}

.catalog .delivery {
  background-color: #f6b22d;
}

.catalog-slider {
  width: 621px;
  height: 267px;
  float: left;
  position: relative;
}

.catalog-slider::before, .catalog-slider::after {
  content: "";
  width: 22px;
  height: 42px;
  background: url(../img/spritesheet.png) no-repeat;
  position: absolute;
  z-index: 1;

}

.catalog-slider::after {
  right: 27px;
  top: 112px;
  background-position: -4px -365px;
}

.catalog-slider::before {
  left: 27px;
  top: 112px;
  background-position: -4px -365px;
  transform: rotate(180deg);
}

.catalog-item:nth-child(n+4) {
  float: right;
}

.catalog-slider-item {
  position: relative;
}

.catalog-slider-item h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  position: absolute;
  top: 21px;
  left: 25px;
  text-transform: uppercase;
}

.catalog-slider-item p {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 58px;
  left: 27px;

}

.catalog-slider .btn {
  position: absolute;
  left: 27px;
  bottom: 23px;
}

.btn {
  display: :inline-block;
  padding: 11px 45px;
  background: #ee3643;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.product-and-makers-title {
  margin-bottom: 20px;
  background: #f7f3ec;
}

.product-and-makers-title h2 {
  float: left;
  width: 373px;
  margin-top: 25px;
  margin-right: 260px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  padding-left: 27px;
  font-weight: normal;
  padding-top: 5px;
}

.product-and-makers-title .btn {
  float: right;
  margin-top: 25px;
  font-size: 14px;
  box-sizing: border-box;
  margin-right: 24px;
  padding-left: 55px;
  padding-right: 55px;
}

.product-and-makers-title .btn-makers{
  padding-left: 70px;
  padding-right: 70px;
}

.product-and-makers-catalog {
  min-height: 318px;
  font-size: 0;
}

.product-and-makers-item, .product-and-makers-catalog>a {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.product-and-makers-item {
  min-height: 318px;
  border: 1px solid #e5e5e5;
  position: relative;
}

.product-and-makers-item:last-child {
  margin-right: 0;
}

.product-and-makers-item:last-child::before {
  content:"";
  width: 60px;
  height: 60px;
  background: url("../img/new flag.png") no-repeat;
  position: absolute;
  top: -1px;
  left: 159px;
}

.product-and-makers-item h3 {
  margin: 0;
  margin-top: 19px;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", san-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  width: 160px;
  padding-left: 29px;
  margin-bottom: 11px;
}

.last-price, .new-price {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.product-and-makers-item:last-child h3 {
  margin-bottom: 39px;
}

.last-price {
  text-decoration: line-through;
  color: #999999;
  margin-bottom: 10px;
}

.new-price {
  background-color: #ee3643;
  padding: 10px 30px;
  margin-left: 41px;
  margin-right: 39px;
  border-radius: 5px;
}

.product-and-makers-catalog>a {
  height: 145px;
}

.product-and-makers-catalog>a:nth-child(4n) {
  margin-right: 0;
}

.product-and-makers-image  {
  text-align: center;
  width: 220px;
  height: 145px;
}

 .services {
  margin-top: 65px;
  padding-top: 45px;
  padding-bottom: 72px;
}



.services h2 {
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.services p {
  margin: 0;
  width: 400px;
  margin-bottom: 65px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-slider-links {
  width: 240px;
  height: 182px;
  float: left;
  margin-right: 80px;
}

.services-slider-link {
  display: block;
  padding: 20px 22px 22px;  
  background: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
}

.services-slider-links .services-slider-active {
  border: none;
  background: #ffffff;
  color: #32425c;
  padding: 21px 22px 23px;
  font-weight: bold;
}

.services-slider-item {
  float: right;
  width: 300px;
  position: relative;
}

.services-slider div::before {
  position: absolute;
  content:"";    
  left: 160px;  
}

.services-slider div:nth-child(2)::before {
  width: 470px;
  height: 263px;
  background: url("../img/delivery.png") no-repeat;
  top: 20px;
}

.services-slider div:nth-child(3)::before {
  width: 400px;
  height: 282px;
  top: 5px;
  left: 240px;
  background: url("../img/guarantee.png") no-repeat;;
}

.services-slider div:nth-child(4)::before {
  width: 465px;
  height: 287px;
  top: 5px;
  left: 185px;
  background: url("../img/credit.png") no-repeat;;
}


.services-slider-item h2 {
  color: #32425c;
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
}

.services-slider-item:nth-child(2) p {
  width: 276px;
}

.services-slider-item:nth-child(3) p {
  width: 380px;
}

.services-slider-item:nth-child(4) p {
  width: 280px;
}

.about-company {
  padding-top: 80px;
  padding-bottom: 85px;
}

.left-column {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.right-column {
  float: right;
  width: 300px;
  padding-bottom: 85px;
}

.footer-top .logo, .footer-middle p {
  float: left;
  width: 380px;
  margin-right: 10px;
}

.footer-top nav, .footer-middle nav {
  float: right;
  width: 550px;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 31px;
}

.footer-copyright {
  float: left;
  margin-right: 160px;
  width: 230px;
}

.footer-social {
  float: left;
  width: 160px;
  margin-right: 90px;
}

.footer-feedback {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.footer-develop {
  float: right;
  width: 140px;
}

.filter {
  width: 220px;
}

.catalog-perforators {
  width: 700px;
  margin-bottom: 53px;
}

.filter-product {
  width: 220px;
  margin-right: 20px;
}

.paginator {
  clear: both;
  margin-left: 240px;
  margin-bottom: 60px;
}

.sort {
  margin-bottom: 21px;
}

.catalog-perforators .product-and-makers-item:nth-child(3n) {
  margin-right: 0;
}

.product-and-makers {
  font-size: 0;
}

.about-product {
  padding-top: 65px;
  padding-bottom: 74px;
}

.about-product h2 {
  margin-bottom: 40px;
}

.catalog-slider-item:nth-child(2), .popup-write-us, .popup-cart, .product-and-makers-btn,
.services-slider-item:nth-child(n+3) {
  display: none;
}



/*Обводки*/
/*.main-header, .main-footer, .services-background, .header-background-top, .header-background-bottom, .footer-background-top, .footer-background-bottom  {
  outline: 1px solid green;
  background: rgba(0, 255, 0, 0.2)
}
.container {
  outline: 1px solid red;
  background: rgba(255, 0, 0, 0.2);
}

 .header-top, .header-middle, .main-navigation, .product-and-makers-item,
 .catalog-item, .catalog-slider, .product-and-makers-title, .product-and-makers-image,
 .services h2, .services p, .services-slider, .left-column, .right-column, .footer-top, .footer-middle, .footer-bottom,
 .breadcrumbs, h1, .paginator, .about-product {
  outline: 1px solid blue;
  background: rgba(0, 0, 255, 0.2)
}

.header-top .logo, .header-top form, .promo, .contacts, .user-block, .footer-copyright, .footer-feedback, .footer-social,
.footer-develop, .footer-top .logo, .footer-top nav, .footer-middle p, .footer-middle nav, .about-product h2, .about-product p{
  outline: 1px solid yellow;
  background: rgba(255, 255, 0, 0.2)
}
