body {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.filter-block h2 {
  font-size: 17px;
  line-height: 30px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weght: bold;
}
